
  {% load static %}
  <nav class="navbar navbar-dark  navbar-expand-sm bg-dark px-5">
      <a class="navbar-brand navbar-left text-light">
          <img src="{% static 'img/twitter.png' %}" class="d-inline-block align-center" height="28" alt="twitter"> 
          <span>Twitter Sentiment</span>
      </a>

      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
            <ul class="nav navbar-nav">
                    <li> <a href="https://github.com/beckswu/Twitter-Sentiment-Tool" class="nav-item nav-link">
                        <img src="{% static 'img/github.png' %}" class="d-inline-block align-center" height="28" alt="twitter"> 
                        Source Code
                    </a></li>
            </ul>
      </div>
    </nav>
