<!DOCTYPE html>
<head lang = "en">
        <meta charset = "utf-8">
        <meta http-equiv = "X-UA-Compatible" Content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Load css -->   
    {% include "main/base/css.html" %}
    
    <!-- Load js -->  
    {% include "main/base/js.html" %}
    
</head>
    
<body>
    
        {% include "main/includes/navbar.html" %}
    
        {% include "main/includes/messages.html" %}
    
    
    

        {% block content %}
        {% endblock %}
    
</body>
    

<script> 
$(document).ready(function(){
    {% block jquery %} 
    {% endblock %}
})
</script>
    